@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(17, 17, 17);

}

main{
    display: flex;
    flex-direction: column;
    color: azure;
    gap: 4rem;
    padding: 5%;
}

.contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

h1{
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.titulo_contenedores{
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
}

.division_botones_encriptar_desencriptar{
    display: flex;
    flex-direction: row;
    gap: 4% ;
    width: auto;
    height: 10%;
    padding: 1.5rem;
}

.contenido_botones{
    background-color: azure;
    border-radius: 16;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    
}
.contenido_botones:hover{
    background-color: #c7d1d1;
}

.contenedor_intercambiar{
    display: flex;
    width: 6%;
    padding: 0.5%;
    height: 4%;
    justify-content: center;
    align-items: start ;
    background-color: #77777727;
    border-radius: 10px;
    box-shadow: #c300ff 0 0 0 0.025rem;
}

.contenido_boton_intercambiar{
    width: 3rem;
    height: 3rem;
    transform: rotateZ(135deg);
}

.contenido_contenedor_entrada_salida{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 28rem;
    background-color: #77777727;
    box-shadow: #c300ff 0 0 0 0.40px;
    border-radius: 0.625rem;
    border: none;
    box-sizing: border-box;
}
.division_titulo_contenedores{
    display: flex;
    align-items: center;
    width: auto;
    height: 10%;
    padding: 0.75rem 0 0.75rem 1.5rem;
}

hr{
    width: auto;
    border: none;
    box-shadow: #c300ff 0 0 0 0.20px;   
}

.division_area_texto{
    width: 100%;
    height: 80%;
}

.area_texto{
    font-family: "Montserrat", sans-serif;
    font-size: 1.20rem;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: #77777700;    
    color: rgb(240, 240, 240);
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
}
.division_copiar{
    width: auto;
    height: 10%;
    padding: 1.5rem;
}

.footer{
    display: flex;
    background-color: #3d6e41 ;
    height: 4rem;
    justify-content: center;
    align-items: center;
}

.autor{
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.4rem;
}

@media (max-width: 900px){
    .contenido{
        flex-direction: column;
    }

    .division_botones_encriptar_desencriptar{
        flex-direction: row;
    }

    .contenido_contenedor_entrada_salida{
        width: 100%;
    }
    .contenedor_intercambiar{
        
        width: 30%;
    }

}